.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    
}
.search{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.search-btn{
    padding: .8rem;
}
.page2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.details > h3{
    margin: 10px;
}
